@font-face {
    font-family: "Ghostoons";
    src: url("../font/Ghostoons.woff") format("woff");
}

body {
    font-family: "Ghostoons";
    display: grid;
    place-items: center;
    background-color: #171421;
    overflow: hidden;
    background-image: url('../img/forest.gif');
    background-size: cover;
}

.scroll-top {
    transform: translate(0, -1200vh);
    transition: all 300ms;
}

.play-modal {
    position: absolute;
    top: 0;
    bottom: -8vh;
    left: 0;
    right: 0;
    background-color: #171421;
    background-image: url('../img/background.gif');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 9999;
    display: grid;
    place-items: center;
    transition: all 300ms;
}

.play-modal h1 {
    font-size: 10rem;
    position: relative;
    perspective: 1000px;
    display: inline-block;
    margin-bottom: 0;
    color: #fff;
    text-shadow:black 1px 0 10px;;
}

#timer {
    position: absolute;
    left: 47.5vw;
    top: 5vh;
    color: white;
    font-size: 50px;
}

.play-modal h1::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    text-shadow: -5px -5px 5px rgba(255, 255, 255, 0.2),
                 5px 5px 5px rgba(0, 0, 0, 0.2);
    transform: translateZ(10px);
}

.play-button {
    position: relative;
    cursor: pointer;
  
}

.play-button img {
    width: 400px;
    margin-bottom: 200px;
}

.play-button:active,
.close:active {
    transform: scale(.8);
    transition: all 300ms;
}

.play-button p
{
    position: absolute;
    top: -20px;
    left: 140px;
    font-size: 60px;
    color: #ffdd88;
}

.disable-modal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #171421;
    z-index: 99999999;
    display: grid;
    place-items: center;
    transition: all 300ms ease-in;
    color: white;
    text-align: center;

}

.level-modal,
.question-modal,
.info-modal,
.fail-modal{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #171421b1;
    z-index: 9999;
    display: grid;
    place-items: center;
    transition: all 300ms ease-in; /* Added ease-in here */
}

.level-modal .modal {
    width: 400px;
}

.question-modal .modal {
    width: 800px;
    height: 400px;
}

.fail-modal .modal {
    width: 400px;
}

.info-modal .modal {
    width: 800px;
    height: 500px;
}

.input-wrong {
    background-color: salmon;
    transition: all 300ms;
}


.level-modal .close,
.question-modal .close,
.fail-modal .close,
.info-modal .close {
    position: absolute;
    right: 3vw;
    top: 3vh;
    width: 80px;
    cursor: pointer;
}

.level-modal div {
    position: absolute;
    top: 38vh;
    left: 39vw;
    color: #ffdd88;
    text-align: center;
}

.question-modal div {
    position: absolute;
    top: 28vh;
    left: 32vw;
    color: #ffdd88;
    text-align: center;
}

.fail-modal div {
    position: absolute;
    top: 38vh;
    left: 39vw;
    color: #ffdd88;
    text-align: center;
}

.info-modal div {
    position: absolute;
    top: 20vh;
    left: 28vw;
    color: #ffdd88;
    text-align: center;
}

.question-modal input{
    outline: none;
    padding: 15px 10px;
    width: 300px;
    border-radius: 20px;
    border: none;
    transition: all 300ms;
}


.level-modal h3 {
    font-size: 25px;
}

.info-modal h3 {
    font-size: 30px;
}

.question-modal {
    text-align: center;
}

.question-modal h3 {
    font-size: 55px;
}

.fail-modal h3 {
    font-size: 35px;
}

.question-modal p {
    font-size: 20px;
}


.none {
    display: none;
}

canvas {
    position: relative;
    background-image: url('../img/library.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 2vw;
    top: 3vh;
}

.menu img {
    width: 80px;
    cursor: pointer;
    transition: all 100ms;
    margin-bottom: 20px;
}

.menu img:active {
    transform: scale(.8);
    transition: all 100ms;
}